.characters {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.card-selected {
  border: 2px solid red;
}

.card-unselected {
  border: 1px solid black;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.d-flex {
  width: 100%;
  }

.characters li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: rgb(255, 255, 255);
  margin: 0.5em;
  padding: 0.3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.characters li:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: 0.1em;
}
.characters li.selected {
  background-color: black;
  color: white;
}
.characters li.selected:hover {
  background-color: #505050;
  color: white;
}
.characters li.selected:active {
  background-color: black;
  color: white;
}
.characters .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}

input {
  padding: 0.5rem;
}
