<div *ngIf="hasError || characters.length else loading">

<h2 class="mx-5" style="text-align: center">Player {{currentPlayer()}}: choose 3 characters</h2>

<div class="d-flex flex-wrap" style="justify-content: center" *ngIf="!hasError else error">
  <div
    *ngFor="let character of characters"
    (click)="onSelect(character)"
  >
    <div class="card mx-3 mb-4 {{border(character)}}" style="width: 18rem">
      <img src="{{ character.char.icon }}" alt="" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">{{ character.char.name }}</h5>
        <p class="card-text">{{ character.char.description }}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">PV : {{ character.char.lp }}</li>
        <li class="list-group-item">Attack : {{ character.char.attack }}</li>
      </ul>
      <div class="d-flex justify-content-center">
        
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="button"
          aria-pressed="false"
          autocomplete="off"
        >
          Select
        </button>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <input matInput type="text" placeholder="player name" [(ngModel)]="currentName"/>
  &nbsp;
  <button type="button" class="btn btn-primary" (click)="nextPlayerAction()">{{nextPlayerButton()}}</button>
</div>
<br/>

</div>
<ng-template #error>
  <app-error></app-error>
</ng-template>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
