.playing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.versus-icon {
    display: flex;
    align-items: center;
    text-align: center;
}

.versus-icon-sprite {
    width: 10rem;
    height: 10rem;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sprites-left {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
}

.sprites-right {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
}

.icon-side {
    width: 8rem;
    height: 8rem;
    border-radius: 30px;
    margin: 1rem;
    border: solid white;
}

.bouton {
    padding: 0;
    border: none;
    background-color: transparent;
  }