<div *ngIf="!hasError else error">

<div
  *ngIf="sessionInfo && players else loading"
  class="playing"
  style="background-image: url({{
    sessionInfo?.arena?.sprite
  }}); background-size: cover; min-height: 100vh; position: relative; min-width: 99vw;"
>
  <div class="d-flex flex-wrap" style="justify-content: center">
    <div class="sprites-left">
      <div *ngFor="let char of passiveChars(players[0])">
        <button class="bouton" (click)="onSwap(players[0], char)" [disabled]="!isCurrentPlayer(players[0]) || char.currentLp <= 0">
          <img
            class="icon-side"
            src="{{ char.icon }}"
            style="{{ gray(char) }}"
          />
        </button>
      </div>
    </div>
    <div class="card mx-3 mb-4" style="width: 16rem">
      <img
        src="{{ curChar(players[0]).sprite }}"
        alt=""
        class="card-img-top"
        style="height: 20rem"
      />
      <div class="card-body">
        <h5 class="card-title">{{ curChar(players[0]).name }}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          PV : {{ curChar(players[0]).currentLp }}/{{ curChar(players[0]).lp }}
        </li>
        <div class="progress">
          <div
            class="progress-bar bg-danger"
            role="progressbar"
            style="width: {{ healthBar(curChar(players[0])) }}%"
            aria-valuenow="100"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <li class="list-group-item">
          Attack : {{ curChar(players[0]).attack }}
        </li>
      </ul>
      <div class="buttons">
        <button
          type="button"
          class="btn btn-primary mx-3 mb-4"
          data-toggle="button"
          aria-pressed="false"
          autocomplete="off"
          (click)="onAttack(players[0])"
          [disabled]="!isCurrentPlayer(players[0])"
        >
          Attack
        </button>
        <button
          type="button"
          class="btn btn-primary mx-3 mb-4"
          data-toggle="button"
          aria-pressed="false"
          autocomplete="off"
          (click)="onHeal(players[0])"
          [disabled]="
            !isCurrentPlayer(players[0]) || curChar(players[0]).hasHealed
          "
        >
          Heal
        </button>
      </div>
    </div>

    <div class="versus-icon">
      <img
        class="versus-icon-sprite"
        src="../assets/Street_Fighter_VS_logo.png"
        alt="logo"
        href="#"
      />
    </div>

    <div class="card mx-3 mb-4" style="width: 16rem">
      <img
        src="{{ curChar(players[1]).sprite }}"
        alt=""
        class="card-img-top"
        style="height: 20rem"
      />
      <div class="card-body">
        <h5 class="card-title">{{ curChar(players[1]).name }}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          PV : {{ curChar(players[1]).currentLp }}/{{ curChar(players[1]).lp }}
        </li>
        <div class="progress">
          <div
            class="progress-bar bg-danger"
            role="progressbar"
            style="width: {{ healthBar(curChar(players[1])) }}%"
            aria-valuenow="100"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <li class="list-group-item">
          Attack : {{ curChar(players[1]).attack }}
        </li>
      </ul>
      <div class="buttons">
        <button
          type="button"
          class="btn btn-primary mx-3 mb-4"
          data-toggle="button"
          aria-pressed="false"
          autocomplete="off"
          (click)="onAttack(players[1])"
          [disabled]="!isCurrentPlayer(players[1])"
        >
          Attack
        </button>
        <button
          type="button"
          class="btn btn-primary mx-3 mb-4"
          data-toggle="button"
          aria-pressed="false"
          autocomplete="off"
          (click)="onHeal(players[1])"
          [disabled]="
            !isCurrentPlayer(players[1]) || curChar(players[1]).hasHealed
          "
        >
          Heal
        </button>
      </div>
    </div>
    <div class="sprites-right">
      <div *ngFor="let char of passiveChars(players[1])">
        <button class="bouton" (click)="onSwap(players[1], char)" [disabled]="!isCurrentPlayer(players[1]) || char.currentLp <= 0">
          <img
            class="icon-side"
            src="{{ char.icon }}"
            style="{{ gray(char) }}"
          />
        </button>
      </div>
    </div>
  </div>
</div>

</div>
<ng-template #error>
  <app-error></app-error>
</ng-template>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
