<div *ngIf="hasError || arenas.length else loading">

<h2 class="mx-5" style="text-align: center">Choose your Arena</h2>

<div class="d-flex flex-wrap" style="justify-content: center" *ngIf="!hasError else error">
  <div
    *ngFor="let arena of arenas"
    (click)="onSelect(arena)"
  >
    <div class="card mx-3 mb-4" style="width: 18rem">
      <img src="{{ arena.icon }}" alt="" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">{{ arena.name }}</h5>
        <p class="card-text">{{ arena.description }}</p>
      </div>
      <div class="d-flex justify-content-center">
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="button"
          aria-pressed="false"
          autocomplete="off"
        >
          Select
        </button>
      </div>
    </div>
  </div>
</div>

</div>
<ng-template #error>
  <app-error></app-error>
</ng-template>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
