.char-name {
    width: 12em;
}

.char-lp {
    width: 4em;
}

.char-attack {
    width: 4em;
}

.char-sprite {
    width: 12em;
}

.char-icon {
    width: 13em;
}

.char-description {
    width: 15em;
    height: 3em;
}

.char-bonusAttack {
    width: 4em;
}

.char-bonusLp {
    width: 4em;
}

.char-bonusArena {
    width: 4em;
}