<div *ngIf="hasError || characters.length else loading">

<div class="d-flex flex-wrap" style="justify-content: center" *ngIf="!hasError else error">
  <div *ngFor="let character of characters">
    <div class="card mx-3 mb-4" style="width: 18rem">
      <img src="{{ character.icon }}" alt="" class="card-img-top" />
      <form [formGroup]="characterForms[character.name]">
        <div class="card-body">
          <h5 class="card-title">
            <input class="char-name" type="text" formControlName="name" readonly required />
          </h5>
          <p class="card-text">
            <textarea class="char-description" type="text" formControlName="description"
              placeholder="{{character.description}}"></textarea>
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            PV :
            <input class="char-lp" type="number" formControlName="lp" placeholder="{{character.lp}}" required />
          </li>
          <li class="list-group-item">
            Attack :
            <input class="char-attack" type="number" formControlName="attack" placeholder="{{character.attack}}" required />
          </li>
          <li class="list-group-item">
            Sprite:
            <input class="char-sprite" type="url" formControlName="sprite" placeholder="{{character.sprite}}" required />
          </li>
          <li class="list-group-item">
            Icon:
            <input class="char-icon" type="url" formControlName="icon" placeholder="{{character.icon}}" required />
          </li>
          <li class="list-group-item">
            Bonus Attack:
            <input class="char-bonusAttack" type="number" formControlName="bonusAttack" placeholder="{{character.bonusAttack}}" required />
          </li>
          <li class="list-group-item">
            Bonus Lp:
            <input class="char-bonusLp" type="number" formControlName="bonusLp" placeholder="{{character.bonusLp}}" required />
          </li>
          <li class="list-group-item">
            Bonus Arena:
            <input class="char-bonusArena" type="number" formControlName="bonusArena" placeholder="{{character.bonusArena}}" />
          </li>
        </ul>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-success mx-3 mb-4" (click)="onUpdate(character)">Update</button>
          <button type="danger" class="btn btn-danger mx-3 mb-4" (click)="onDelete(character)">Delete</button>
        </div>
      </form>
    </div>
  </div>

  <form [formGroup]="newCharacterForm">
    <div class="card mx-3 mb-4" style="width: 18rem">
      <div class="d-flex flex-wrap justify-content-center">
        <div class="form-group">
          <input type="text" formControlName="name" placeholder="Name" required />
        </div>
        <div class="form-group">
          <textarea type="text" formControlName="description" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
          <input type="number" formControlName="lp" placeholder="Life points" required />
        </div>
        <div class="form-group">
          <input type="number" formControlName="attack" placeholder="Attack" required />
        </div>
        <div class="form-group">
          <input type="url" formControlName="sprite" placeholder="Sprite" required />
        </div>
        <div class="form-group">
          <input type="url" formControlName="icon" placeholder="Icon" required />
        </div>
        <div class="form-group">
          <input type="number" formControlName="bonusAttack" placeholder="Bonus Attack" required />
        </div>
        <div class="form-group">
          <input type="number" formControlName="bonusLp" placeholder="Bonus Lp" required />
        </div>
        <div class="form-group">
          <input type="number" formControlName="bonusArena" placeholder="bonus Arena" />
        </div>
      </div>
      <ul class="list-group list-group-flush"></ul>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-success" (click)="onCreate()">Create</button>
      </div>
    </div>
  </form>
</div>

</div>
<ng-template #error>
  <app-error></app-error>
</ng-template>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
