#error-wrap {
    float: left;
    position: relative;
    left: 50%;
}

#error {
    float: left;
    position: relative;
    left: -50%;
}

#error-msg {
    text-align: left;
    margin-bottom: 2rem;
    white-space: pre-wrap;
}
