<nav class="navbar navbar-light bg-light w-100 walign-items-center">
  <a>
    <button class="bouton" (click)="onNew()">
      <img
        src="../assets/logo.png"
        alt="logo"
        width="120"
        class="navbar-brand mx-5"
        href="#"
      />
    </button>
  </a>
  <button type="button" class="btn btn-primary mx-5" (click)="onAdmin()">
    Admin
  </button>
</nav>
