<div *ngIf="hasError || arenas.length else loading">

<div class="d-flex flex-wrap" style="justify-content: center" *ngIf="!hasError else error">
    <div *ngFor="let arena of arenas">
        <div class="card mx-3 mb-4" style="width: 18rem">
            <img src="{{ arena.icon }}" alt="" class="card-img-top" />
            <form [formGroup]="arenaForms[arena.id]">
                <div class="card-body">
                    <h5 class="card-title">
                        <input class="arena-name" type="text" formControlName="name"
                            placeholder="{{arena.name}}" required />
                    </h5>
                    <p class="card-text">
                        <textarea class="arena-description" type="text" formControlName="description"
                            placeholder="{{arena.description}}"></textarea>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        ID:
                        <input class="arena-id" type="number" formControlName="id"
                            placeholder="{{arena.id}}" readonly required />
                    </li>
                    <li class="list-group-item">
                        Sprite:
                        <input class="arena-sprite" type="url" formControlName="sprite"
                            placeholder="{{arena.sprite}}" required />
                    </li>
                    <li class="list-group-item">
                        Icon:
                        <input class="arena-icon" type="url" formControlName="icon"
                            placeholder="{{arena.icon}}" required />
                    </li>
                </ul>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success mx-3 mb-4"
                        (click)="onUpdate(arena)">Update</button>
                    <button type="danger" class="btn btn-danger mx-3 mb-4"
                        (click)="onDelete(arena)">Delete</button>
                </div>
            </form>
        </div>
    </div>

    <form [formGroup]="newArenaForm">
        <div class="card mx-3 mx-4" style="width: 18rem">
            <div class="d-flex flex-wrap justify-content-center">
                <div class="form-group">
                    <input type="text" formControlName="name" placeholder="Name" required />
                </div>
                <div class="form-group">
                    <input type="number" formControlName="id" placeholder="ID" required />
                </div>
                <div class="form-group">
                    <textarea type="text" formControlName="description" placeholder="Description"></textarea>
                </div>
                <div class="form-group">
                    <input type="url" formControlName="sprite" placeholder="Sprite" required />
                </div>
                <div class="form-group">
                    <input type="url" formControlName="icon" placeholder="Icon" required />
                </div>
            </div>
            <ul class="list-group list-group-flush"></ul>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success" (click)="onCreate()">Create</button>
            </div>
        </div>
    </form>
</div>

</div>
<ng-template #error>
  <app-error></app-error>
</ng-template>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
