<mat-tab-group class="tabs" mat-stretch-tabs mat-align-tabs="center" color="primary" backgroundColor="primary" [(selectedIndex)]="currentTab" (selectedTabChange)="onTab($event)">
    <mat-tab label="Characters">
        <app-character></app-character>
    </mat-tab>
    <mat-tab label="Arenas">
        <app-arena></app-arena>
    </mat-tab>
</mat-tab-group>
