.display-winner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../../assets/Throne-Room.png");
  background-size: cover;
  min-height: 100vh;
  position: relative;
}
