<div *ngIf="hasError || winner else loading">

<div class="display-winner" *ngIf="!hasError else error">
  <div class="card mx-3 mb-4" style="width: 25rem">
    <h1 style="text-align: center">Le grand gagnant est</h1>
    <h2 class="card-title" style="text-align: center">{{ winner?.name }}</h2>
    <img src="{{ curChar(winner)?.sprite }}" alt="" class="card-img-top" />
    <div class="card-body" style="text-align: center">
      <h5 class="card-title">{{ curChar(winner)?.name }}</h5>
      <p class="card-text">Bien joué à lui il a été meilleur (pas du tout)</p>
    </div>
  </div>
  <div style="align-items: center;">
    <button type="button" class="btn btn-primary mx-3 mb-4" data-toggle="button"
      aria-pressed="false" autocomplete="off" (click)="onResetHard()">
      New Game
    </button>
    <button type="button" class="btn btn-primary mx-3 mb-4" data-toggle="button"
      aria-pressed="false" autocomplete="off" (click)="onResetSoft()">
      Fight Again
    </button>
  </div>
</div>

</div>
<ng-template #error>
  <app-error></app-error>
</ng-template>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
